/node_modules

.env

.DS_Store

# dependency directories
node_modules/

# dotenv environment variable files
.env
.env.*

# TypeScript build output
dist/

# ESLint cache
.eslintcache

dist/
/src/generated/prisma

/src/generated/prisma
