name: deploy-main

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure SSH
        run: |
          mkdir -p ~/.ssh
          echo "$EC2_SSH_KEY" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

          cat >>~/.ssh/config <<END
          Host umc9thworkbook
            HostName $EC2_HOST
            User ubuntu
            IdentityFile ~/.ssh/id_rsa
            StrictHostKeyChecking no
          END
        env:
          EC2_HOST: ${{ secrets.EC2_HOST }}
          EC2_SSH_KEY: ${{ secrets.EC2_SSH_KEY }}

      - name: Copy Workspace
        run: |
          ssh umc9thworkbook 'sudo mkdir -p /opt/app'
          ssh umc9thworkbook 'sudo chown ubuntu:ubuntu /opt/app'
          rsync -avz --exclude 'node_modules' --exclude '.git' --exclude '.github' ./ umc9thworkbook:/opt/app/

      - name: Install dependencies
        run: |
          ssh umc9thworkbook 'npm install --prefix /opt/app/'

      - name: Setup systemd service
        run: |
          ssh umc9thworkbook "sudo tee /etc/systemd/system/app.service > /dev/null <<'EOF'
          [Unit]
          Description=UMC 9th Project
          After=network.target

          [Service]
          User=ubuntu
          ExecStart=/usr/bin/npm run dev --prefix /opt/app/
          Restart=always

          [Install]
          WantedBy=multi-user.target
          EOF
          "

      - name: Restart service
        run: |
          ssh umc9thworkbook 'sudo systemctl daemon-reload'
          ssh umc9thworkbook 'sudo systemctl enable app'
          ssh umc9thworkbook 'sudo systemctl restart app'
